<div class="form-group">
  <label for="name" class="form-label">Talent Name</label>
  <input
    type="text"
    name="name"
    id="name"
    class="form-control"
    value="<%= talent.name %>"
  />
</div>

<div class="form-group">
  <label for="month" class="form-label">Debut Month</label>
  <input
    type="number"
    name="month"
    id="month"
    class="form-control"
    value="<%= talent.month %>"
  />
</div>

<div class="form-group">
  <label for="day" class="form-label">Debut Day</label>
  <input
    type="number"
    name="day"
    id="day"
    class="form-control"
    value="<%= talent.day %>"
  />
</div>

<div class="form-group">
  <label for="year" class="form-label">Debut Year</label>
  <input
    type="number"
    name="year"
    id="year"
    class="form-control"
    value="<%= talent.year %>"
  />
</div>

<div class="form-group">
  <label for="unitName" class="form-label">Talent's Unit</label>
  <select name="unitName" id="unitName" class="form-select">
    <option value="5th Gen - NePoLaBo">5th Gen - NePoLaBo</option>
  </select>
</div>

<div class="form-group">
  <label for="youtube" class="form-label">YouTube Page</label>
  <input
    type="text"
    name="youtube"
    id="youtube"
    class="form-control"
    value="<%= talent.youtube %>"
  />
</div>

<div class="form-group">
  <label for="twitter" class="form-label">Twitter Page</label>
  <input
    type="text"
    name="twitter"
    id="twitter"
    class="form-control"
    value="<%= talent.twitter %>"
  />
</div>

<div class="form-group">
  <label for="bioBlurb" class="form-label">Talent Bio Blurb</label>
  <textarea name="bioBlurb" id="bioBlurb" class="form-control">
    <%= talent.bioBlurb %>
  </textarea>
</div>

<div class="form-group">
  <button type="submit" class="btn btn-primary">Save</button>
  <a href="/" class="btn btn-secondary">Cancel</a>
</div>

<!-- <div class="form-group">
  <label for="name" class="form-label">Talent Name</label>
  <input required type="text" name="name" id="name" class="form-control" />
</div>

<div class="form-group">
  <label for="month" class="form-label">Debut Month</label>
  <input
    required
    type="number"
    min="1"
    max="12"
    name="month"
    id="month"
    class="form-control"
  />
</div>

<div class="form-group">
  <label for="day" class="form-label">Debut Day</label>
  <input
    required
    type="number"
    min="1"
    max="31"
    name="day"
    id="day"
    class="form-control"
  />
</div>

<div class="form-group">
  <label for="year" class="form-label">Debut Year</label>
  <input
    required
    type="number"
    min="2017"
    max="2022"
    name="year"
    id="year"
    class="form-control"
  />
</div>

<div class="form-group">
  <label for="unitName" class="form-label">Talent's Unit</label>
  <select name="unitName" id="unitName" class="form-select">
    <option value="5th Gen - NePoLaBo">5th Gen - NePoLaBo</option>
  </select>
</div>

<div class="form-group">
  <label for="youtube" class="form-label">YouTube Page</label>
  <input
    required
    type="text"
    name="youtube"
    id="youtube"
    class="form-control"
  />
</div>

<div class="form-group">
  <label for="twitter" class="form-label">Twitter Page</label>
  <input
    required
    type="text"
    name="twitter"
    id="twitter"
    class="form-control"
  />
</div>

<div class="form-group">
  <label for="bioBlurb" class="form-label">Talent Bio Blurb</label>
  <textarea name="bioBlurb" id="bioBlurb" class="form-control"></textarea>
</div>

<div class="form-group">
  <button type="submit" class="btn btn-primary">Save</button>
  <a href="/" class="btn btn-secondary">Cancel</a>
</div> -->
